@tailwind base;
@tailwind components;
@tailwind utilities;

/*font*/
.montserrat-light {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.montserrat-reguler {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.montserrat-semi-bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.navbar {
  height: 10vh;
}

.detail-button {
  height: 50px;
  width: 25px;
}

.vh-100 {
  height: 100vh;
}

.vh-90 {
  height: 90vh;
}

.vh-50 {
  height: 50vh;
}

.vh-30 {
  height: 20vh;
}

.vh-20 {
  height: 20vh;
}

.vh-10 {
  height: 10vh;
}

.h-500 {
  height: 500px;
}

/*HOME PAGE*/
/*mobile default*/

.features-2xl {
  width: 160px;
  height: 225px;
}

.trending-2xl {
  width: 350px;
  height: 150px;
}

.primary-2xl {
  width: 350px;
  height: 450px;
}

.men-2xl {
  width: 150px;
  height: 200px;
}

.swiper-button-next {
  color: #1a1f23;
}

.swiper-button-prev {
  color: #1a1f23;
}

/*media query ipad*/

@media (min-width: 768px) {
  .features-2xl {
    width: 300px;
    height: 425px;
  }

  .trending-2xl {
    width: 700px;
    height: 300px;
  }

  .primary-2xl {
    width: 300px;
    height: 450px;
  }

  .men-2xl {
    width: 225px;
    height: 325px;
  }
}

@media (min-width: 1536px) {
  .features-2xl {
    width: 425px;
    height: 600px;
  }

  .trending-2xl {
    width: 1500px;
    height: 650px;
  }

  .primary-2xl {
    width: 400px;
    height: 650px;
  }

  .primary-new {
    height: 700px;
  }

  .men-2xl {
    width: 400px;
    height: 550px;
  }
}

.card-zoom {
  transition: all;
  overflow: hidden;
  border-radius: 1rem;
}

.card-zoom-image {
  display: absolute;
  background-position: center;
  background-size: cover;
}

.card-zoom-image:hover {
  transform: scale(1.1);
}

hr {
  background: black;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
